.Filters {
    position: absolute;
    background-color: var(--primary);
    box-shadow: 0 2px 5px 3px var(--dark-green);
    padding: .5rem;
    border-radius: .5rem;
    min-height: 5rem;
    min-width: 8rem;
}
.Filter_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter-title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: .9rem;
}
.sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort-date-input, .filter-label-input {
    margin: 0;
    margin-right: 5px;
}
.sort-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
    font-size: .9rem;
    padding-bottom: 1.5rem;
}
.labelOptions-item-text.clear {
    border-bottom: 1px solid var(--light-grey);
    cursor: pointer;
}
.labelOptions-item-text.clear:hover {
    border-color: var(--secondary);
}